.toggleBtn{
    border:none;
    background-color: inherit;
    outline:none;
    /* display: block; */
    margin:auto;
    cursor: pointer;
}

.toggleBtn i{
    transition-property: color;
    transition-duration: 0.2s;
}